<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ingridient">
      <h2 data-cy="ingridientDetailsHeading"><span>Ingridient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ingridient.id }}</span>
        </dd>
        <dt><span>Ingridient Name</span></dt>
        <dd>
          <span>{{ ingridient.ingridientName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ingridient', ingridient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
